<div id = 'map'>
	<div id="loading"  class='alert-box success radius' >
	  "Loading..."
	</div>
</div>

<div id="messages" class="row">
  <%= render 'shared/notifications' %>
  <%= render 'shared/dashboard_greeting_banner' %>
</div>

<div id="start-walk-button">
  <%= render "shared/start_walk_button" %>
</div>

<div id="dogs">
</div>

<div id = "neighbors">
</div>

<footer>
  <div id = "logout-button">
    <div class="row">
      <%= render "shared/logout_button" %>
    </div>
  </div>
</footer>


