<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 ' href="#">****<%= name %> <%= breed %> - <%= distance_traveled %> miles - <%= distance_score %> pts </a>
  </div>
</div>
