
<!-- style='position:absolute; top: 0; z-index: 999' -->
<div class='row'>
	<div class='small-12 small-centered columns'>
		<div class="switch"> 
			<h3>Neighbors</h3><label><input type="checkbox" id="Neighbors">Neighbors</label>
		</div>
		<a href="#" data-dropdown="drop1" class="button dropdown">Style <br>
			<ul id="drop1" data-dropdown-content class="f-dropdown">
				<li> <a href="#">Polygon</a></li>
				<li> <a href="#">Line</a></li>
				<li> <a href="#">Point</a></li>
			</ul>
		</a>

	</div>
</div> 



<div id="map-canvas"></div>

