<div class='row'>
  <div class="small-12 small-centered columns">
    <!-- <ul class="button-group radius"> -->
        <a class='button small radius left ' id="load-territory-geo-layer">My Territory</a>
   <!--      <a class='button small' id="load-neighborhood-geo-layer">Neighborhood</a> -->
        <a class='button small radius right' id="load-local-area-geo-layer">Neighbors</a>
    <!-- </ul> -->
  </div>
</div>


<div id="map-canvas"></div>

