<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 Primary'><%= username %></a>
  </div>

<div class = "neighbor-details" style = "display:none">
  <div class = "row" >
    <div class = "small-3 small-centered columns">
      <%= distanceTraveled %> miles - <%= distanceScore %> pts
      <img src= <%=image_url%> >
    </div>
  </div>
</div>