<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 Primary'><%= username %> - <%= distanceTraveled %> miles - <%= distanceScore %> pts </a>
  </div>
  <div class = "neighbor-details" style = "display:none">
    HELLO NEIGHBOR !
    <%= username %>
  </div>
</div>
